<!DOCTYPE html> {%load static%} <html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="{%static './favicon.ico'%}" type="image/x-icon" />
  <link rel="shortcut icon" href="{%static './favicon.ico'%}" type="image/x-icon" />
  <!-- https://stackoverflow.com/questions/16375592/favicon-not-showing-up-in-google-chrome/16375622#16375622 -->
  <title>Shop 🎮</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@400;700&display=swap" rel="stylesheet">
  <!-- goole text -->
  <!-- <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"rel="stylesheet"/> -->
  <link rel="stylesheet" href="{%static './style.css'%}">
  <!--all pages link to same stylesheet to keep look and feel-->
</head>

<body>
  <header>
    <!-- heading with navigation bar -->
    <div class="sticky-top">
      <!--header need to be responsive to the window changing-->
      <h1>Shop</h1>
      <ul class="nav nav-tabs">
        <!--bootstrap navigation tab with custom background color-->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index'%}">Video Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'genre'%}">Genre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'platform'%}">Platform</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'publisher'%}">Publisher</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'year'%}">Year</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active">Shop🕹️</a>
        </li>
      </ul>
    </div>
  </header>
  <div class="content">
    <br>

    {% if user.is_staff %}
    <p>
      <a href="{% url 'dashboard' %}">Dashboard</a> | 
      <a href="{% url 'basket_detail' %}">Basket</a> |
      <a href="{% url 'customer_list' %}">Customers</a> | 
      <a href="{% url 'order_list' %}">Orders</a> | 
    </p>
      {% else %}
    <p>
      <a href="{% url 'basket_detail' %}">Basket</a> 
      {% endif %} 
    {% if user.is_authenticated %} 
    </p> 
      <h5 class="text-right" style='color:brown';>Welcome back, <strong>{{user.first_name}}</strong></h5>
      <p class="text-right"><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %} 
    </p> 
      <p class="text-right"><a href="{% url 'login' %}">Log In</a>
    </p> 
    {% endif %}

    {% block content %}
    {% endblock %}
  </div>
</body>

</html>