{% extends 'games/shop/base.html' %}
{% block content %}
    <h1>Your Basket</h1>
    
<h2>You have these in your basket:</h2>
 <table>
  {% for item in basket %}
        {% with game=item.game %}
          <tr>
            <td>
              <a href="{% url 'gamedetail' id=game.id %}">
              </a>
            </td>
            <td>{{ game.name }}</td>
            <td>
              <form action="{% url 'shop:basket_add' game.id %}" method="post">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.override }}
                <input type="submit" value="Update">
                {% csrf_token %}
              </form>
            </td>
            <td>
              <form action="{% url 'shop:basket_remove' game.id %}" method="post">
                <input type="submit" value="Remove">
                {% csrf_token %}
              </form>
            </td>
            <td class="num">${{ item.price }}</td>
            <td class="num">${{ item.total_price }}</td>
          </tr>
        {% endwith %}
      {% endfor %}
      <tr class="total">
        <td>Total</td>
        <td colspan="4"></td>
        <td class="num">${{ basket.get_total_price }}</td>
      </tr>
  </table>
  <p class="text-right">
    <a href="{% url "shop:product_list" %}" class="buttonlight">Continue shopping</a>
  </p>
 
   <a href="{% url 'shop:purchase' %}">Purchase</a>
 {% endblock %}