{% extends 'games/shop/base.html' %}
{% block content %}
    <h2>Customer Details</h2>
    <br>
    <p>Name: {{ user.first_name }} {{ user.last_name }} 
      <br>
      Address: {{user.customer.address}}
      <br>
      Email: {{ user.email }} 
      <br>
      <!-- {{user.id}} -->
      Created date: {{user.customer.created_date}}
   </p>
   <br><br>
  <!-- <p>Modify the method to also supply the customer's orders</p> -->
   <h2>Customer Orders</h2>
   <p>
   <br>
   Order ID:<br>
   {% for order in orders %}
   <a href="{% url 'order_detail' id=order.id %}">{{order.id}}</a>
     <br>
    <!-- {{order}} <br> -->
   {% endfor %}
   <br>
   </p>
    {% endblock %}