<!DOCTYPE html> {%load static%} <html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Dashboard 🎮</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@400;700&display=swap" rel="stylesheet">
  <!-- goole text -->
  <!-- <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"rel="stylesheet"/> -->
  <link rel="stylesheet" href="{%static 'games/style.css'%}">
  <!--all pages link to same stylesheet to keep look and feel-->
</head>

<body>
  <header>
    <!-- heading with navigation bar -->
    <div class="sticky-top">
      <!--header need to be responsive to the window changing-->
      <h1>Dashboard</h1>
      <ul class="nav nav-tabs">
        <!--bootstrap navigation tab with custom background color-->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index'%}">Video Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'genre'%}">Genre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'platform'%}">Platform</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'publisher'%}">Publisher</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'year'%}">Year</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login'%}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'dashboard'%}">Dashboard🕹️</a>
        </li>
      </ul>
    </div>
  </header>
  <div class="content">

    <form method="POST" action="{%url 'dashboard' %}">
      {% csrf_token %}
      <select id="gamef" name="gamef" game="game">
        <option selected disabled=true>--Select Game--</option>
        {% for game in games %}
        <option value="{{game.name}}">{{game.name}}</option>
        {% endfor %}
      </select>
      <button type="submit" class="btn btn-success">Search</button>
    </form>


    <canvas id="myChart"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type= 'text/javascript'>
    var ctx = document.getElementById('myChart').getContext('2d');

    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'bar',
        // The data for our dataset
        data: {
          labels: ['North America Sales', 'Europe Sales', 'Japan Sales', 'Other part of world Sales', 'Global Sales'],
          datasets: [{
            label: 'Sales of {{sources.name}}',
            //order: number //put your own numebr here with an extra comma, otherwise remove this line
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 222, 161)',
            data: {{sources_list}}
          }]
        },
        // Configuration options go here
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
      });
    </script>
  </div>
</body>

</html>