{% extends 'games/shop/base.html' %}
{% load static %}
{% block content %}
<br>
<h2>Dashboard</h2>
<br>
  <h3>Proportion of Account Typs</h3>
    <canvas id="accounts"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type= 'text/javascript'>
    var ctx = document.getElementById('accounts').getContext('2d');
    var chart = new Chart(ctx, {
      //https://stackoverflow.com/questions/42848673/configure-pie-chart-colors-using-chart-js-and-php
        // The type of chart we want to create
        type: 'pie',

        // The data for our dataset
        data: {
        labels: ['Customer', 'Staff', 'Admin'],
        datasets: [{
            backgroundColor: [
            'rgb(230,255,85)', //yellow: customer
            'rgb(255,195,85)', //orange: staff
            'rgb(255,110,85)', //red: admin
            ],
            borderColor: 'rgb(178,136,59)',
            data: [{{cn}}, {{sn}}, {{an}}]
        }]
        },

        // Configuration options go here
        options: {
       //   scales:{}
        }
        });

    </script>

    {% endblock %}