{% extends 'games/shop/base.html' %}
{% block content %}
    <h2>Order Details</h2>
    <br>
    <p>
      This is order {{ order.id }} for
      <a href="{% url 'customer_detail' id=user.pk %}">{{user.first_name}} {{user.last_name}}</a>. 
      The order was placed on: {{ order.created_date }} 
   </p>
  <p>The order includes these items:</p>
  {% for line_item in line_items %}
  <p>
   Item: <a href="{%url 'gamedetail' id=line_item.game.id%}">{{ line_item.game.name }}</a>
  <br>
   Quantity: {{ line_item.quantity}}  
  </p>
  
  {% endfor %}
   
    {% endblock %}