<!DOCTYPE html
{%load static%}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Genre 🎮</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@400;700&display=swap" rel="stylesheet">
  <!-- goole text -->
  <link rel="stylesheet" href="{%static 'games/style.css'%}">
  <!--all pages link to same stylesheet to keep look and feel-->
</head>

<body>
  <header>
    <!-- heading with navigation bar -->
    <div class="sticky-top">
      <!--header need to be responsive to the window changing-->
      <h1>Genre</h1>
      <ul class="nav nav-tabs">
        <!--bootstrap navigation tab with custom background color-->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index'%}">Video Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'genre'%}">Genre🕹️</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'platform'%}">Platform</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'publisher'%}">Publisher</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'year'%}">Year</a>
        </li>
      </ul>
    </div>
  </header>
  <div class="content">
    <br>
    <!-- search bar -->
    <!-- <form method="POST" action="{%url 'gamefilter' %}">
      {% csrf_token %}
      <select id="plfilter" name="plfilter" platform="platform">
        <option selected disabled=true>--Select Platform--</option>
        {% for platform in platforms %}
        <option value="{{game.platform.platform_name}}">{{game.platform.platform_name}}</option>
        {% endfor %}
      </select>
      <button type="submit" class="btn btn-success">Search</button>
    </form> -->
    <table class="data_table" style="width:100%">
      <tr>
        <th>Genre</th>
        <!-- <th>Publisher</th> -->
      </tr>
      {% for genre in genres %}
      <tr>
        <td>{{genre.genre_name}}</td>
        <!-- <td>{{game.platform.platform_name}}</td>
        <td>{{game.year}}</td>
        <td>{{game.genre}}</td>
        <td>{{game.publisher}}</td> -->
      </tr>
      {% endfor %}
    </table>
    <!-- <h1>DB verification</h1>
        {% for genre in genre %}
        <p>
          {{genre.id}} | 
          {{genre.genre_name}}
        </p>
        {% endfor %} -->
  </div>
</body>

</html>