<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{year.year_no}} 🎮</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@400;700&display=swap" rel="stylesheet">
  <!-- goole text -->
  <link rel="stylesheet" href="{%static 'games/style.css'%}">
  <!--all pages link to same stylesheet to keep look and feel-->
</head>

<body>
  <header>
    <!-- heading with navigation bar -->
    <div class="sticky-top">
      <!--header need to be responsive to the window changing-->
      <h1>Video Games in {{year.year_no}}</h1>
      <ul class="nav nav-tabs">
        <!--bootstrap navigation tab with custom background color-->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index'%}">Video Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'genre'%}">Genre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'platform'%}">Platform</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'publisher'%}">Publisher</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'year'%}">Year🕹️</a>
        </li>
      </ul>
    </div>
  </header>
  <div class="content">
    <br>
    <table class="data_table" style="width:100%">
      <h2>{{year.year_no}}</h2>
      <!-- <p>{{genre.genre_description}}</p> -->
      <br>
      <tr>
        <th>Video Game Name</th>
        <th>Platform</th>
        <th>Year</th>
        <th>Genre</th>
        <th>Publisher</th>
      </tr>
      {% for game in games %}
      <tr>
        <td><a href="{%url 'gamedetail' id=game.id%}">{{game.name}}</td>
        <td><a href="{%url 'platformgame' id=game.platform.id%}">{{game.platform.platform_name}}</td>
        <td><a href="{%url 'yeargame' id=year.id%}">{{game.year}}</td>
        <td><a href="{%url 'genregame' id=game.genre.id%}">{{game.genre.genre_name}}</td>
        <td><a href="{%url 'pugame' id=game.publisher.id%}">{{game.publisher}}</td>
      </tr>
      {% endfor %}
    </table>
    <!-- <h1>DB verification</h1>
    {% for game in game %}
    <p>
      {{game.id}} | 
      {{game.rank}} | 
      {{game.name}} | 
      {{game.platform}} | 
      {{game.year}} | 
      {{game.genre}} |
      {{game.publisher}} |
      {{game.na_sales}} | 
      {{game.eu_sales}} |
      {{game.jp_sales}} | 
      {{game.other_sales}} |
      {{game.global_sales}} | 
    </p>
    {% endfor %} -->
  </div>
</body>

</html>