  {% extends 'games/base/index.html' %}
  {% block content %}
{% if games %}
    <table class="data_table" style="width:100%">
      <tr>
        <th>Video Game Name</th>
        <th>Platform</th>
        <th>Year</th>
        <th>Genre</th>
        <th>Publisher</th>
      </tr>
      {% for game in games %}
      <tr>
        <td><a href="{%url 'gamedetail' id=game.id%}">{{game.name}}</td>
        <td><a href="{%url 'platformgame' id=game.platform.id%}">{{game.platform.platform_name}}</td>
        <td><a href="{%url 'yeargame' id=game.year.id%}">{{game.year}}</td>
        <td><a href="{%url 'genregame' id=game.genre.id%}">{{game.genre.genre_name}}</td>
        <td>{{game.publisher.id}}: {{game.publisher.publisher_name}}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}

    {% endblock %}