<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{game.name}} 🎮</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@400;700&display=swap" rel="stylesheet">
  <!-- goole text -->
  <link rel="stylesheet" href="{%static './style.css'%}">
  <!--all pages link to same stylesheet to keep look and feel-->
</head>

<body>
  <header>
    <!-- heading with navigation bar -->
    <div class="sticky-top">
      <!--header need to be responsive to the window changing-->
      <h1>{{game.name}}</h1>
      <ul class="nav nav-tabs">
        <!--bootstrap navigation tab with custom background color-->
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'index'%}">Video Games🕹️</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'genre'%}">Genre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'platform'%}">Platform</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'publisher'%}">Publisher</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'year'%}">Year</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'basket_detail'%}">Shop</a>
        </li>
      </ul>
    </div>
  </header>
  <div class="content">
    <br>
    <table class="data_table" style="width:100%">
      <tr>
        <th>Video Game Name</th>
        <td>{{game.name}}</td>
      </tr>
      <tr>
        <th>Sales Rank</th>
        <td>{{game.rank}}</td>
      </tr>
      <tr>
        <th>Price(£)</th>
        <td>{{game.price}}</td>
      </tr>
      <tr>
        <th>Platform</th>
        <td><a href="{%url 'platformgame' id=game.platform.id%}">{{game.platform.platform_name}}</td>
      </tr>
      <tr>
        <th>Platform Image</th>
        <!-- <td>{{game.platform.url}}</td> -->
        <td><img src="{{game.platform.url}}" alt="platform image" style="width:200px"></td>
      </tr>
      <tr>
        <th>Year</th>
        <td><a href="{%url 'yeargame' id=game.year.id%}">{{game.year}}</td>
      </tr>
      <tr>
        <th>Genre</th>
        <td><a href="{%url 'genregame' id=game.genre.id%}">{{game.genre.genre_name}}</td>
      </tr>
      <tr>
        <th>Publisher</th>
        <td><a href="{%url 'pugame' id=game.publisher.id%}">{{game.publisher}}</td>
      </tr>
      <tr>
        <th>Sales in North America (millions)</th>
        <td>{{game.na_sales}}</td>
      </tr>
      <tr>
        <th>Sales in Europe (millions)</th>
        <td>{{game.eu_sales}}</td>
      </tr>
      <tr>
        <th>Sales in Japan (millions)</th>
        <td>{{game.jp_sales}}</td>
      </tr>
      <tr>
        <th>Sales in the rest of the world (millions)</th>
        <td>{{game.other_sales}}</td>
      </tr>
      <tr>
        <th>Total worldwide sales (millions)</th>
        <td>{{game.global_sales}}</td>
      </tr>
    </table>
    <p>
    <form action="{% url 'basket_add' game.id %}" method="post">
      {% csrf_token %}
      {{ basket_product_form.as_p }}
      <input type="submit" name="submit" value="Add to Basket">
    </form>
    </p>
    <!-- <h1>DB verification</h1>
    <p>
      {{game.id}} | 
      {{game.rank}} | 
      {{game.name}} | 
      {{game.platform}} | 
      {{game.year}} | 
      {{game.genre}} |
      {{game.publisher}} |
      {{game.na_sales}} | 
      {{game.eu_sales}} |
      {{game.jp_sales}} | 
      {{game.other_sales}} |
      {{game.global_sales}} | 
    </p> -->
  </div>
</body>

</html>